@import "../style/App.scss";

@mixin flexSpaceBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

@mixin regionanddropDownListSettings {
    width: 20rem;
    outline: 0;
    background-color: $white;
    color: inherit;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    border: 0;
    border-radius: .3rem;
    box-shadow: 1rem 1rem 4rem rgba($veryDarkBlue, .20);
    cursor: pointer;
}

.home {
    padding: 1.5rem;
}

.scroll {
    position: fixed;
    top: 89%;
    left: 100%;
    width: 5rem;
    height: 5rem;
    background-color: $white;
    box-shadow: 0rem 0rem .5rem .2rem rgba($veryDarkBlue, .40);
    cursor: pointer;
    transition: ease-in-out 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-150%);

    @media only screen and (max-width: 1100px) {
        top: 85%;
    }

    &:hover {
        transform: translateX(-150%) scale(1.1);
        transition: ease-in-out .1s;
    }

    &__arrowUp {
        font-size: 2rem;
        color: $veryDarkBlue2;
    }
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

    @media only screen and (max-width: 698px) {
        height: calc(30vh + 5vh);
    }

    @media only screen and (max-width: 1100px) {
        height: 50vh;
    }

    &__loader {
        border: 1rem solid lighten($darkBlue, 50%);
        border-radius: 50%;
        border-top: 1rem solid green;
        box-shadow: inset 1rem 1rem 4rem rgba($veryDarkBlue, .20);
        width: 10rem;
        height: 10rem;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}

.filter {
    
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 3rem;

    @media only screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    &__searchPanel {
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
        width: 50rem;

        @media only screen and (max-width: 686px) {
            width: 100%;
        }
    }

    
    &__icon {
        position: relative;
        z-index: 100;
        //w celu poradzenia sobie z fill bez przekazywania props, narazie jest szary, ale klikniecia darkMode, powoduje, ze wszystkie elementy zyskuja kolor bialy wiec color z darkGray zmienia sie na white i fill przyjmuje white
        color: $darkGray;
        fill: currentColor;
        width: 2rem;
        height: 2rem;
    }

    &__selectPanel {
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 100;

        @media only screen and (max-width: 768px) {
            justify-content: flex-start;
        }
    }

    &__chooseRegion {
        @include regionanddropDownListSettings();
        padding: 1.5rem;
        @include flexSpaceBetweenCenter();
        transition: ease-in-out 1s;

        &--caretDown {
            &::after {
                content: '\f0d7';
                font-weight: 900;
                font-family: 'Font Awesome 5 Free';
            }
        }

        &--caretUp {
            &::after {
                content: '\f0d8';
                font-weight: 900;
                font-family: 'Font Awesome 5 Free';
            }
        }
    }

    &__dropdown {
        @include regionanddropDownListSettings();
        margin-top: 1rem;
        opacity: 0;
        position: absolute;
        top: 100%;
        visibility: hidden;
        transition: ease-in-out .5s;

        &-item {
            padding: .5rem 1.5rem;
            @include flexSpaceBetweenCenter();
            transition: ease-in-out .5s;

            &:hover {
                background-color: $darkBlue;
                color: $white;
            }

            &--all::after,
            &--africa::after,
            &--americas::after,
            &--asia::after,
            &--europe::after,
            &--oceania::after {
                font-weight: 900;
                font-family: 'Font Awesome 5 Free';
            }

            &--all::after {
                content: '\f0ac';
            }

            &--africa::after {
                content: '\f57c';
            }

            &--americas::after {
                content: '\f57d';
            }

            &--asia::after {
                content: '\f57e';
            }

            &--europe::after {
                content: '\f7a2';
            }

            &--oceania::after {
                content: '\f57e';
            }
        }
    }

}
